@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

.detailsForm_container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color:white;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.title {
  text-align: center;
  color: white;
  font-family: inherit;
}

.text-center {
  text-align: center;
  margin: 0.5em;
}

.wrapper {
  width: 90%;
  max-width: 820px;
  margin: 1% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left {
  width: 100%;
  min-height: 300px; /* Adjust height as needed */
  background-color: #1e88e5;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://images.pexels.com/photos/2860807/pexels-photo-2860807.jpeg?crop=entropy&cs=srgb&dl=pexels-anni-roenkae-2860807.jpg&fit=crop&fm=jpg&h=1706&w=1280');
  overflow: hidden;
}

.right {
  width: calc(100% - 10px); /* Adjust width as needed */
  margin-top: 10px; /* Adjust margin as needed */
  background: #e91e63;
  border-radius: 0 0 10px 10px;
}

form {
  padding: 1rem;
}

.form-set {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.label {
  font-weight: bold;
  font-size: 12px;
}

.input-radio,
.input-checkbox {
  margin-right: 5px;
}

/* Comment */
textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 5px;
  resize: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .add-medication-btn, .remove-medication-btn {
    margin-left: 10px;
    padding: 5px 3px;
    width: 40px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .form-control {
   margin-top: 10px;
  }
  
textarea:hover {
  border-color: white;
}

/* Button */
button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button {
  background-color: black;
  color: white;
}

.submit-button:hover {
  background-color: white;
  color: black;
}

@media (min-width: 768px) {
  .right {
    width: calc(50% - 10px); /* Adjust width and margin as needed */
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .right {
    width: calc(40% - 10px); /* Adjust width and margin as needed */
  }
}
